<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" ng-app="CMS">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pr2lsite/css/styleSite.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/pr2lsite/css/styleCMS.css') }}" />
	
	<script type="text/javascript" src="{{ asset('bundles/pr2lsite/js/angular.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/pr2lsite/js/app.js') }}"></script>
    
    <title>{% block title %}PR2L{% endblock %}</title>
  </head>
  
  <header>
  	<div class="eltEntete"><a href="">	<img src="{{ asset('bundles/pr2lsite/images/logo.png') }}" alt="Logo PR2L" title="Logo association PR2L" />	</a></div>
	<div class="eltEntete">
		<strong></bold><em>P</em>ôle international de <br />
		<em>R</em>essources de <br />
		<em>L</em>imoges et du<br />
		<em>L</em>imousin<br />
		<br />
		Association pour le recensement <br />
		et la valorisation des fonds d'archives<br />
		du monde ouvrier</strong>
	</div>
  </header>
  
  <aside>
  </aside>
  
  <nav>	
<hr/>
<div><nav>
	<ul id="menu-deroulant">
		<li><a href="{{ 'accueil' }}">PR2L</a> 
			<ul>
				<li><a href="{{ 'projet' }}">Le projet</a>
				</li>
				<li><a href="{{ 'fondateurs' }}">Fondateurs</a>
				</li>
				<li><a href="{{ 'revuePresse' }}">Revue de presse</a>
				</li>
				<li><a href="{{ 'adherer' }}">Adhérer à l'association</a>
				</li>
				<li><a href="{{ 'vieAssociation' }}">Vie de l'association</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="{{ 'actualites' }}">ACTUALITES</a> 
			<ul>
				<li><a href="{{ 'actionsEvenements' }}">Action / Evènements</a>
				</li>
				<li><a href="{{ 'quoiDeNeuf' }}">Quoi de neuf ?</a>
				</li>
				<li><a href="{{ 'autourDeNous' }}">Autour de nous</a>
				</li>
			</ul>
		</li>
		<li><a href="{{ 'partenaires' }}">PARTENAIRES</a> 
			<ul>
				<li><a href="{{ 'gererPartenaires' }}">Gérer les partenaires</a>
				</li>
			</ul>
		</li>
		<li><a href="{{ 'ressources' }}">RESSOURCES</a> 
			<ul>
				<li><a href="{{ 'archives' }}">Catalogue d'archives</a>
				</li>
				<li><a href="{{ 'bibliotheque' }}">Bibliothèque</a>
				</li>
				<li><a href="{{ 'travauxRecherche' }}">Travaux de recherche</a>
				</li>
				<li><a href="{{ 'publications' }}">Nos publications</a>
				</li>
				<li><a href="{{ 'liensUtiles' }}">Liens utiles</a>
				</li>
			</ul>
		</li>
		<li><a href="{{ 'chantiers' }}">CHANTIERS</a> 
			<ul>
				<li><a href="{{ 'recensementMutualite' }}">Recencement pour la mutualité</a>
				</li>
				<li><a href="{{ 'inventaireCooperation' }}">Inventaire de la coopération en Limousin</a>
				</li>
			</ul>
		</li>
		<li><a href="{{ 'intranet' }}">INTRANET</a>
			<ul>
			<li><a href="{{ 'connexion' }}">Connexion</a></li>
			<li><a href="{{ 'creation' }}">Creation</a></li>
            <li><a href="{{ 'gestionAdmin' }}">Gestion des utilisateurs</a></li>
            <li><a href="{{ 'modification' }}">Modification d'informations</a></li>
            <li><a href="{{ 'deconnexion' }}">Déconnexion</a></li>
		</ul>
		</li>
	</ul>
</nav></div>
<hr/>
  </nav>
  <body>

    {% block body %}
    {% endblock %}

  </body>
  
  <footer>
	Pôle international des<br>
	Ressources de <br>
	Limoges et du <br>
	Limousin
  </footer>
</html>
